$container-width: 1375px;
/* COLORS */

$color-black: #000;
$color-white: #fff;
$color-main: #7b75c9;
$color-second: #bee6a8;

$color-text: #3c3c70;
$color-border: #ebf0f5;

/* MEDIA QUERIES */
$mobile-width: 370px;
$mobile-lg-width: 425px;
$tablet-width: 768px;
$tablet-h-width: 1024px;
$desktop-sm-width: 1025px;
$desktop-width: 1280px;
$desktop-laptop-width: 1360px;
$desktop-notebook-width: 1440px;
$desktop-lg-width: 1441px;
$desktop-test-width: 1520px;
$desktop-max-width: 1620px;


// css variables
