.form {
  border: 1px solid rgba(34, 34, 34, 0.1);
  box-shadow: 0 20px 20px 0 rgba(0, 0, 0, 0.05);
  display: flex;
  flex-flow: column;


  &__pre {
    color: rgba(34,34,34,.5);
    font-size: 14px;
    line-height: 21px;
    margin-bottom: 16px;
  }

  &__header {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    position: relative;
    min-height: 72px;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(34, 34, 34, 0.1);
    padding: 8px;
    background-color: #ffffff;

    h3 {
      display: flex;
      align-items: center;
      font-weight: normal;
      font-size: 20px;
      line-height: 24px;
      color: #131313;
      margin-left: 16px;
    }
  }

  &__content {
    flex-grow: 1;
    background-color: rgba(255, 255, 255, 0.75);
    padding: calc(16px * 2);
  }

  &__row {
    display: flex;
    flex-direction: row;

    @media (max-width: $tablet-width - 1) {
      margin-bottom: 32px;
    }

    .form-group  {
      flex-grow: 1;

      &:first-child {
        margin-right: 8px;
      }
      &:last-child {
        margin-left: 8px;
      }
    }
    @media (max-width: 400px) {
      flex-direction: column;
      .form-group  {
        margin-left: 0 !important;
        margin-right: 0 !important;
      }
    }
  }


  &__actions {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 8px;
    align-items: center;

    @media (max-width: $tablet-width - 1) {
      flex-direction: column;
      button[type="submit"] {
        max-width: 100%;
      }
      a {
        margin-top: 16px;
      }
    }

  }

  &__footer {
    margin-top: 48px;
    border-top: 1px solid rgba(19, 19, 19, 0.1);
    padding-top: 32px;

    .agreement {
      text-align: center;
      font-size: 12px;
      color: rgba(34, 34, 34, 0.5);

      a {
        color: rgba(34, 34, 34, 0.5);
        text-decoration: underline;
      }
    }
  }

  .form-group {
    margin-bottom: 32px;

    &:last-child {
      margin-bottom: 0;
    }

    label {
      display: block;
      font-size: 14px;
      margin-bottom: 4px;
      font-weight: bold;
      color: #222222;
    }

    .form-input {
      font-size: 14px;
      width: 100%;
      margin: 0;
      border: 0;
      border-bottom: 2px solid rgba(34, 34, 34, 0.2);
      padding: 0;
      padding-bottom: 6px;
      background-color: transparent;
      outline: none;
      border-radius: 0;
      padding-top: 8px;
      padding-left: 4px;
    }

    .help-block {
      font-size: 13px;
      color: red;
    }

  }


  .avatar-wrap {
    margin-bottom: 32px;
    text-align: center;
    .avatar {
      width: 150px;
      height: 150px;
      margin: auto;
      border: 2px solid #fff;
      border-radius: 50%;
    }
    .btn {
      max-width: 278px;
      width: 100%;
      margin: 16px auto;
    }
  }

  select {
    width: 100%;
    border: 2px solid rgba(34,34,34,0.2);
    background: transparent;
    padding: 0 8px;
    height: 32px;
  }

  input:disabled {
    background-color: #eee !important;
  }

}
