.modal {
  top: 0;
  left: 0;
  max-height: 100%;
  overflow-y: auto;
  position: fixed;
  padding-top: 64px;
  padding-bottom: 64px;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  z-index: 1100;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(34,34,34,.98);
  // transform: translateY(-120%);
  transition: all .5s ease;
  display: none;

  &._open {
    display: flex;
  }

  &__close {
    color: #222;
    opacity: .7;
    transition: opacity .25s ease-out;
    height: 32px;
    width: 32px;
    z-index: 1000;

    &:hover {
      opacity: 1;
    }
  }


  .modal-container {
    box-shadow: 0 12px 15px 0 rgba(34, 34, 34, 0.22), 0 17px 20px 0 rgba(34, 34, 34, 0.12);
    position: relative;
    margin-left: 16px;
    margin-right: 16px;
    background-color: #f7eae4;
    border: 2px solid rgba(34,34,34,.1);
    max-width: 426px;
    width: 100%;
    height: auto;

    &__header {
      padding: 16px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgba(34,34,34,0.1);

      h3 {
        margin: 0;
        font-weight: lighter;
        font-size: 18px;
      }
    }

    &__content {
      padding: 16px;


      .not-allowed {
        padding: 0 32px;
        h3 {
          color: #222;
          font-size: 28px;
          line-height: 1.13;
          letter-spacing: .8px;
          margin-bottom: 13px;
          text-align: center;
          margin-top: 0;
        }
        p {
          color: #222;
          font-size: 18px;
          line-height: 1.6;
          letter-spacing: .5px;
          margin: 0 10px 110px;
          opacity: .85;
          text-align: center;
          margin: 0;
        }
      }

      .contact-request {
        text-align: center;

        p {
          font-size: 15px;
        }
      }


      .contact-row {
        margin-bottom: 16px;

        &__title {
          color: #7b7877;
        }
        &__value {
          font-size: 15px;
        }
      }

    }
  }

}
